<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http//www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html" charset="utf-8">
  <title>Habit Referral Program</title>

  <style type="text/css" >
   body,tr,th,td {
     display: block;
   }
   .table {
     display: block;
     width: 100%;
     background-color: #ffffff;
   }
   .table-head {
     margin-top: 20px;
     display: block;
     width: 100%;
     text-align: center;
   }
  </style>
</head>


<body style="margin: 0; padding: 0;">
  <table class="table">
    <thead class="table-head">
      <tr><td><%= image_tag image_url('email/logo.png'), alt: 'Habit Logo' %></td></tr>
    </thead>

    <tbody>
      <tr><td>Body of the email</td></tr>
    </tbody>

    <tfoot>
      <tr><td>footer of the email</td></tr>
    </tfoot>
  </table>
</body>
</html>
