<h2>Join the Program</h2>
<%= form_for @user, :url => { :action => "create" } do |f| %>
  <%= f.text_field :email, :placeholder => "Enter Email*", :class => "email" %>
  <input class="submit" name="commit" type="submit" value="Start Earning" />
<% end %>
<div class="clearfix"></div>
<!-- <h3><%= flash[:alert] %></h3> -->
<p>&#42;Join with your existing Habit email address.</p>