<div class="camp-end-wrapper">
  <h2>Thank you for Participating!</h2>
  <p>We are compiling all the rewards right now, and will email you as soon as possible</p>
  <p>In the meantime, head over to <a href="https://habit.com/" target="_blank">Habit.com</a></p>
  <p>Thank you Again!</p>
</div>
