form{
	margin-bottom: 0;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.wf-loading .brandon{
  visibility: hidden;
}


html {
	font-family: $book-font;
}
h1, h2 {
	font-family: $book-bold-font;
}
/* Home */

// html.home{
// 	background: #EDECEA;
// }

#home {
	padding-bottom: 50px;
	.page-content{
		width: 1400px;
		margin: 0 auto;
	}
	.hero{
		width: 100%;
		height: 446px;
		background: image-url("home/header-bg-desktop.jpg") center center no-repeat;
		background-size: 1600px 446px;
		overflow: hidden;
		position: relative;
		letter-spacing: .09em;
		margin: 0 auto;
		.large{
			font-weight: bold;
			font-size: 40px;
			color: #074E6F;
			text-transform: uppercase;
			margin: 85px 0 0 136px;
			position: relative;
			z-index: 2;
			letter-spacing: 2px;
		}
		.small{
			font-weight: bold;
			color: #955F5D;
			font-size: 18px;
			margin: 10px 0 0 115px;
			line-height: 30px;
			position: relative;
			z-index: 2;
			text-transform: uppercase;
			text-align: center;
			width: 375px;
			letter-spacing: 1px;
		}
	}
	.form-wrap{
		height: 80px;
		width: 411px;
		margin: 23px auto 0;
		&.ended {
			width: 500px;
			margin-top: 27px;
			.thanks{
				text-transform: uppercase;
				font-weight: 500;
				color: #074e6f;
				text-align: center;
				font-size: 22px;
				letter-spacing: 1px;
				line-height: 36px;
				margin-bottom: 14px;
			}
			.compiling{
				text-transform: uppercase;
				letter-spacing: 1px;
				font-size: 14px;
				line-height: 30px;
				color: #555556;
				text-align: center;
				font-weight: 500;
				margin-bottom: 24px;
			}
			.go-to{
				font-style: italic;
				font-size: 16px;
				letter-spacing: 1px;
				text-align: center;
				margin-bottom: 25px;
				a{
					color: #074e6f;
					font-size: 19px;
					font-weight:bold;
					text-transform: uppercase;
					font-style: normal;
					text-decoration: none;
					&:hover {
						color: #955F5D;
					}
				}
			}
			.again{
				font-weight: 500;
				color: #555556;
				text-transform: uppercase;
				font-size: 14px;
				text-align: center;
			}
		}
		.key{
			width: 46px;
			height: 19px;
			margin: 0 auto;
			background: image-url("home/key.png") 0 0 no-repeat;
			background-size: 46px 19px;
		}
		.byline{
			font-size: 15px;
			text-transform: uppercase;
			color: #074E6F;
			text-align: center;
			font-weight: bold;
			letter-spacing: 2px;
			margin: 15px 0;
		}
		.email{
			float: left;
			font-size: 13px;
			padding: 8px 0 8px 10px;
			border: 1px solid #074E6F;
			width: 256px;
			outline: none;
			letter-spacing: 1px;
		}
		.submit{
			width: 143px;
			background: #074E6F;
			float: left;
			height: 37px;
			line-height: 37px;
			color: #FFF;
			font-size: 13px;
			text-transform: uppercase;
			border: 0;
			letter-spacing: 2px;
		}
	}
}

/*
	RETINA
*/
// @media only screen and (min--moz-device-pixel-ratio: 2),
// only screen and (-o-min-device-pixel-ratio: 2/1),
// only screen and (-webkit-min-device-pixel-ratio: 2),
// only screen and (min-device-pixel-ratio: 2) {
// 	#home .hero{
// 		background: image-url("home/hero@2x.jpg") center center no-repeat;
// 		background-size: 1600px 446px;
// 	}

// 	#home .form-wrap .key{
// 		background: image-url("home/key@2x.png") 0 0 no-repeat;
// 		background-size: 46px 19px;
// 	}

// 	#refer .header .logo{
// 		background: image-url("refer/logo@2x.png") 0 0 no-repeat;
// 		background-size: 106px 19px;
// 	}

// 	#refer .mammoth{
// 		background: image-url("refer/mammoth@2x.png") 0 0 no-repeat;
// 		background-size: 610px 394px;
// 	}

// 	#refer .share-wrap .social-links .fb{
// 		background: image-url("refer/fb@2x.png");
// 		background-size: 27px 27px;
// 	}

// 	#refer .share-wrap .social-links .twit{
// 		background: image-url("refer/twit@2x.png");
// 		background-size: 27px 27px;
// 	}

// 	#refer .prizes .progress{
// 		background: image-url("refer/progress-bg@2x.png") 0 0 repeat-x;
// 		background-size: 1px 4px;
// 	}

// 	#refer .prizes .progress .mover .bar{
// 		background: image-url("refer/progress-done@2x.png") 0 0 repeat-x;
// 		background-size: 1px 4px;
// 	}

// 	#refer .prizes .progress .mover .razor{
// 		background: image-url("refer/razor@2x.png") 0 0 no-repeat;
// 		background-size: 82px 23px;
// 	}

// 	#refer .prizes .products li.product .caret{
// 		background: image-url("refer/caret@2x.png") center center no-repeat;
// 		background-size: 16px 10px;
// 	}

// 	#refer .prizes .products li.product.selected .caret{
// 		background: image-url("refer/caret-selected@2x.png") center center no-repeat;
// 		background-size: 16px 10px;
// 	}
// }
