/*------------------------------------*\
FONTS
\*------------------------------------*/

@font-face {
  font-family: CircularPro-Book;
  src: url(../fonts/CircularPro-BookItalic.WOFF);
  font-style: italic, oblique;
}
@font-face {
  font-family: CircularPro-Book;
  src: url(../fonts/CircularPro-Book.WOFF);
}
@font-face {
  font-family: CircularPro-Bold;
  src: url(../fonts/CircularPro-Bold.WOFF);
}
@font-face {
  font-family: CircularPro-Medium;
  src: url(../fonts/CircularPro-Medium.WOFF);
}
