/*------------------------------------*\
  REFER-A-FRIEND PAGE
\*------------------------------------*/

#refer{
  background: $white;
  .page-content {
    width: 1120px;
    margin: 0 auto;
    z-index: 0;
    position: relative;
  }
  .header {
    height: 70px;
    background: $gray;
    width: 100%;
    overflow:hidden;
    z-index: 1;
    position: relative;
    text-align: center;
    .content {
      display: inline-block;
      height: 100%;
      margin: 0 auto;
      .habit-logo {
        background: image-url("habit-logo.png") 0 0 no-repeat;
        background-size: contain;
        width: 96px;
        height: 40px;
        margin-right: 20px;
      }
      p {
        float: left;
        color: $white;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 50px;
        font-size: 14px;
      }
      .header-content {
        @include flex-vert;
        height: 100%;
        float: left;
      }
    }
  }
  .hero{
    @include flex-vert;
    // background: #F1F0EE;
    height: 600px;
    overflow: hidden;
    background: image-url("refer/header-bg-desktop.jpg") 0 0 no-repeat;
    background-size: cover;
    .hero-headline-wrapper {
      // border: 1px solid red;
      width: 407px;
      height: 407px;
      h1 {
        // display: block;
        color: $gray;
        font-size: 42px;
        // text-transform: uppercase;
        // font-weight: bold;
        // margin: 102px 0 0 72px;
        // display: block;
        // line-height: 56px;
        // letter-spacing: 4px;
        // text-align: center;
        // width: 284px;
        &::after {
          display: block;
          position: relative;
          content: '';
          height: 4px;
          width: 90px;
          background-color: $gray;
          // margin: 0;

        }
      }
      .share-wrapper {
        // float: right;
        // width: 400px;
        // text-align: center;
        // text-transform: uppercase;
        // letter-spacing: .13em;
        // margin-right: 60px;
        p {
          color: $gray;
          font-size: 14px;
          text-transform: none;
          margin-top: 15px;
        }
        .copy-link {
          background: $gray-lighter;
          border: 1px solid $gray-medium;
          width: 340px;
          height: 40px;
          line-height: 40px;
          span {
            color: $gray-lightest;
            font-size: 20px;
            margin-left: 10px;
          }
        }
        .social-links{
          // width: 120px;
          // height: 37px;
          // margin: 25px auto 0;
          // text-align: center;
          a, div {
            display: inline-block;
          }
          a {
            background-size: 27px 27px;
            width: 27px;
            height: 27px;
          }
          .fb {
            background: image-url("refer/fb.png");
          }
          .twit {
            background: image-url("refer/twit.png");
          }
          .sep {
            height: 30px;
            width: 2px;
            background: $gray-medium;
            // margin: 0 20px;
          }
        }
      }
    }
  }
  .prizes{
    width: 100%;
    background: #FFF;
    padding-bottom: 100px;
    h2 {
      text-align: center;
      // font-size: 16px;
      // color: #074E6F;
      // font-weight: bold;
      // margin: 20px 0 0 0;
      // letter-spacing: 2px;
      // text-transform: uppercase;
    }
    .progress {
      height: 4px;
      width: 100%;
      background: image-url("refer/progress-bg.png") 0 0 repeat-x;
      background-size: 1px 4px;
      position: absolute;
      top: 100px;
      z-index: 0;
      .mover{
        position: absolute;
        top: 0;
        left: 0;
        .bar{
          background: image-url("refer/progress-done.png") 0 0 repeat-x;
          width: 165px;
          height: 4px;
          -webkit-background-size: 1px 4px;
          background-size: 1px 4px;
        }
      }
    }
    ul {
      height: 105px;
      width: 100%;
      margin-top: 30px;
      position: relative;
      z-index: 1;
      li {
        height: 100%;
        float: left;
        position: relative;
        &.title {
          // text-transform: uppercase;
          // color: #074E6F;
          // font-weight: 500;
          // font-size: 14px;
          // margin-right: 68px;
          // width: 165px;
          // font-weight: bold;
        }
        &.product{
          // color: #074E6F;
          // width: 125px;
          // margin-right: 129px;
          // position: relative;
          &:last-child,
          &.last {
            margin-right: 0;
          }
          .circle {
            height: 30px;
            width: 30px;
            border-radius: 15px;
            border: 1px solid #DAD9D2;
            text-align: center;
            line-height: 30px;
            color: #868282;
            overflow: hidden;
            background: #F1F0EE;
            font-weight: bold;
            margin: 0 auto;
          }
          p {
            // text-align: center;
            // font-weight: 500;

          }
        }
        p {
          letter-spacing: 2px;
          font-weight: bold;
        }
        .progress-top {
          margin-top: 7px;
        }
        .progress-bottom {
          margin-top: 45px;
        }
      }
    }
    p.place{
      text-align: center;
      font-size: 16px;
      color: #074E6F;
      width: 100%;
      font-weight: 500;
      margin-top: 30px;
      span{
        color: #995F5E;
      }
    }
    p.check{
      text-align: center;
      font-size: 16px;
      color: #858181;
      width: 100%;
      font-weight: 500;
      margin-top: 5px;
    }
    p.ship{
      text-align: center;
      font-size: 16px;
      color: #858181;
      width: 100%;
      font-weight: 500;
      margin-top: 50px;
    }
    a.policy{
      text-align: center;
      font-size: 12px;
      color: #CCCCCC;
      width: 100%;
      font-weight: 500;
      margin-top: 5px;
      display: block;
      text-decoration: none;
    }
  }
  .prize-two .progress .mover .bar { width: 312px; }
  .prize-three .progress .mover .bar { width: 566px; }
  .prize-four .progress .mover .bar { width: 820px; }
  .prize-five .progress .mover .bar { width: 1120px; }
}
